<!DOCTYPE html>
<html lang="en" ng-app="mean">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=10, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>RAFT</title>
    <!-- Bootstrap CSS -->


</head>
<body style="padding:0; margin:0;
  font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color:#eeeeee;">
<table cellpadding="0" cellspacing="0" align="center" style="max-width:600px;">

    <tr>
        <td style="font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; font-size:32px; padding:26px 0 26px 0; font-size:26px; padding:26px 0 26px 0; font-weight:bold;">
            RAFT Bazaar
        </td>
    </tr>
    <tr>
        <td style="padding:25px; background-color:#fff;">

            <table cellpadding="0" cellspacing="0" style="max-width:520px; width:100%;">
                <tr>
                    <td style=" padding-bottom:30px;">
                        <img src="https://s3-us-west-2.amazonaws.com/raft/assets/login_logo.png"
                             alt="" style="display:block; width:90px;">
                    </td>
                </tr>
                <tr>
                    <td style="color:rgb(0,0,0);padding-top:2px; font-size:15px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">
                        Hey <%= name %>,
                    </td>
                </tr>
                <tr>
                    <td style="color:red; padding-top: 8%; text-align:center;font-weight:bold; font-size:19px;  font-family: 'Times New Roman', Times, serif;">
                        &#10003; Your Order is Confirmed!
                    </td>
                </tr>

                <tr>
                    <td style="color:rgb(0,0,0); font-size:14px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 25px; line-height: 25px;">
                        Thank you for shopping! Your order with the below details is now being processed. We will keep
                        you updated about the status of your order.


                    </td>
                </tr>

                <table style="width: 100%; margin: 0px; padding-top: 40px;">

                    <tr>
                        <th style="color:#ffffff; padding: 10px; background-color: #E22026; font-size:20px; font-weight: bold; text-transform: uppercase; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Order Details</th>
                    </tr>
                </table>

                <table style="width: 100%; margin: 0px; padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid #DBDBDB;">
                    <tr>
                        <td style="vertical-align: top; text-align: left; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Order Id:</td>
                        <td style="text-align: right; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"><%=orderId%></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; text-align: left; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Order Date:</td>
                        <td style="text-align: right; color:#4c4c4c; padding-top: 6px;font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"><%=orderDate%></td>
                    </tr>
                </table>

                <table style="width: 100%; margin: 0px; padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid #DBDBDB;">
                    <tr>
                        <td style="vertical-align: top; text-align: left; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Overall Price:</td>
                        <td style="text-align: right; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"><%=orderAmount.toFixed(2)%></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; text-align: left; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Discounted Price:</td>
                        <td style="text-align: right; color:#4c4c4c; padding-top: 6px;font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"><%=discountedAmount.toFixed(2)%></td>
                    </tr>
                </table>

                <table style="width: 100%; margin: 0px; padding-top: 10px; padding-bottom: 10px; border-bottom:0px solid #DBDBDB;">
                    <tr>
                        <td style="vertical-align: top; text-align: left; color:#4c4c4c; font-weight: bold; padding-top: 6px; font-size:20px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Total Price: </td>
                        <td style="text-align: right; color:#E22026; font-weight: bold; padding-top: 6px; font-size:20px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"><%=totalAmount.toFixed(2)%></td>
                    </tr>
                </table>
                <table style="width: 100%; margin: 0px; padding-top: 10px; padding-bottom: 10px; border-top:1px solid #DBDBDB;">
                    <tr>
                        <td style="vertical-align: top; text-align: left; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Payment Method:</td>
                        <td style="text-align: right; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Cash on delivery</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; min-width: 160px; text-align: left; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Shipping Address:</td>
                        <td style="text-align: right; color:#4c4c4c; padding-top: 6px; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"><%=address%></td>
                    </tr>
                </table>

                <!--    Product Details    -->
                <table style="width: 100%; margin: 0px; padding: 0px;">
                    <tr>
                        <th style="color:#ffffff; padding: 10px; background-color: #E22026; font-size:20px; font-weight: bold; text-transform: uppercase; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Product Details</th>
                    </tr>
                </table>

                <!--    Product Details - Details    -->
                <table style="width: 100%; margin: 0px; padding: 0px; padding-top: 10px; padding-bottom: 10px; border-bottom:1px solid #DBDBDB;">
                    <tr style="border-bottom: 1px solid #000;">
                        <th style="text-align: left; color:#4C4C4C; padding-top: 6px;width: 55%; font-size:18px; font-weight: bold; text-transform: uppercase; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Product Name</th>
                        <th style="text-align: center; color:#4C4C4C; padding-top: 6px;width: 20%; font-size:18px; font-weight: bold; text-transform: uppercase; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Quantity</th>
                        <th style="text-align: right; color:#4C4C4C; padding-top: 6px;width: 25%; font-size:18px; font-weight: bold; text-transform: uppercase; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">Price</th>
                    </tr>
                </table>
                <table style="width: 100%; margin: 0px; padding: 0px; padding-top: 10px;">
                    <% for(var i=0; i <Products.length; i++) { %>
                    <tr>
                        <td style="text-align: left; color:#4C4C4C; padding-top: 6px;width: 55%; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"> <%=Products[i].name %></td>
                        <td style="text-align: center; color:#4C4C4C; padding-top: 6px;width: 20%; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"> <%=Products[i].quantity %></td>
                        <td style="text-align: right; color:#4C4C4C; padding-top: 6px;width: 25%; font-size:18px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';"> <%=Products[i].priceCount.toFixed(2) %></td>
                    </tr>
                    <% } %>

                    <tr>
                        <td colspan="3" style="color:rgb(0,0,0); font-style:italic; font-size:12px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 80px; line-height: 17px;">
                            In case of any further assistance, please feel free to contact us at 051-237-5015 or
                            support@raft.com.pk

                        </td>
                    </tr>

                    <tr>
                        <td colspan="3" style="color:rgb(0,0,0); font-size:14px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 39px; line-height: 20px;">
                            Thank You!
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" style="color:rgb(0,0,0); font-size:14px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 20px; line-height: 25px;">
                            Team RAFT Bazaar
                        </td>
                    </tr>
                </table>

                </td>
                </tr>
                <tr>
                    <td align="center" style=" padding-bottom:30px; padding-top:15%">
                        <div style="float:left; padding-left:33%">
                            <a href="https://raft.com.pk"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-web.png" alt="" style="display:block; width:30px;"></a>
                        </div >
                        <div style="float:left; padding-left:3%">
                            <a href="https://facebook.com"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-fb.png" alt="" style="display:block; width:30px;"></a>
                        </div>
                        <div style="float:left; padding-left:3%">
                            <a href="https://linkedin.com"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-linkedin.png" alt="" style="display:block; width:30px;"></a>
                        </div>
                        <div style="float:left; padding-left:3%">
                            <a href="https://instagram.com"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-instagram.png" alt="" style="display:block; width:30px;"></a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="color:rgb(0,0,0);text-align:center; font-size:11px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 0px;">
                        &#169; 2017. All rights reserved.
                    </td>
                </tr>

            </table>

        </td>
    </tr>
</table>


</body>
</html>