<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditDestination();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="destination_name" name="destination_name"
                               placeholder="Destination Name"
                               ng-model="vm.destinationData.destination_name" maxlength="30" minlength="1" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="distance" name="distance"
                               placeholder="Destination Distance"
                               ng-model="vm.destinationData.distance" maxlength="30" minlength="1" valid-number>
                    </div>
                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
