<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Destinations Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table">
                        <input type="text" ng-model="ctg.searchTerm" ng-model-options='{ debounce: 500 }'
                               placeholder="search by destination name" ng-change="ctg.searchDestinatons();">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="ctg.addDestination()"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Destination
                        </button>
                    </div>
                    <table class="table table-bordered table-hover" st-table="destinationsCopy" st-safe-src="ctg.destinations" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <!--<th class="table-id">#</th>-->
                            <th>Destination Name</th>
                            <th>Distance</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody ng-if="ctg.destinations.length>0">
                        <tr ng-repeat="item in destinationsCopy track by $index">
                            <!--<td class="table-id">{{$index + 1}}</td>-->
                            <td>{{item.destination_name}}</td>
                            <td>{{item.distance}}</td>
                            <td>
                                <button class="btn btn-xs btn-info" style="margin-right: 5px;"
                                        ng-repeat="task in item.tasks">
                                    {{task.name}}
                                </button>

                                <button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="ctg.editDestination(item, $index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="ctg.archiveDestination(item, $index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <!--<tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>-->
                    </table>
                    <!-- <table datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-hover"> -->
                    <!--<table datatable dt-options="dtOptions" dt-instance="dtInstance"  dt-columns="dtColumns"
                       class="row-border hover"></table>-->
                    <div ng-if="ctg.destinations.length === 0">
                        <p> No category added yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
