<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditCompany();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}

            <div class="modal-body">

                <div class="form-group">
                    <label>Company Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="company_name" name="company_name"
                               placeholder="Company Name"
                               ng-model="vm.companyData.company_name" maxlength="50" minlength="1" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>City</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="city" name="city"
                               placeholder="City"
                               ng-model="vm.companyData.city" maxlength="50" minlength="1" required>
                    </div>
                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
