<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Companies Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="ctg.addCompany()"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Company
                        </button>
                    </div>
                    <table class="table table-bordered table-hover" st-table="companiesCopy" st-safe-src="ctg.companies" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <!--<th class="table-id">#</th>-->
                            <th>Company Name</th>
                            <th>City</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody ng-if="ctg.companies.length>0">
                        <tr ng-repeat="item in companiesCopy track by $index">
                            <!--<td class="table-id">{{$index + 1}}</td>-->
                            <td>{{item.company_name}}</td>
                            <td>{{item.city}}</td>
                            <td>

                                <button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="ctg.editCompany(item, $index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="ctg.archiveCompany(item, $index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <!--<tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>-->
                    </table>
                    <!-- <table datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-hover"> -->
                    <!--<table datatable dt-options="dtOptions" dt-instance="dtInstance"  dt-columns="dtColumns"
                       class="row-border hover"></table>-->
                    <div ng-if="ctg.companies.length === 0">
                        <p> No Company added yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
