<!DOCTYPE html>
<html lang="en" ng-app="mean">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Raft</title>
    <!-- Bootstrap CSS -->
</head>
<body style="padding:0; margin:0;
  font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">
<table cellpadding="0" cellspacing="0" align="center" style="max-width:600px;">
    <tr>
        <td style="padding:12% 40px 18.2%;">

            <table cellpadding="0" cellspacing="0" style="max-width:520px; width:100%;">
                <tr>
                    <td style="color:rgba(0,0,0,0.7); font-size:24px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">
                        <%= text %>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top:70px;">
                        <img src="https://s3-ap-southeast-2.amazonaws.com/labour-choice/assets/labour_icon.png"
                             style="display:block;">
                    </td>
                </tr>

                <tr>
                    <td style="padding-top:20px; font-size:12px; color:#3c3c3c; text-transform:0.2em; text-transform:uppercase; letter-spacing:0.2em;
                        font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">
                        Raft
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
