//javascript Files

if(process.env.NODE_ENV === 'production' || process.env.NODE_ENV === 'staging' || process.env.NODE_ENV === 'quality')
    script(type='text/javascript', src='concat.js?v=264959cadee11e557745509857858a85')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDPuDogpDOdK-WmQv9z9b-fTDSMjnj7KFo&v=3.exp')

else
    script(type='text/javascript', src='lib/jquery/dist/jquery.js')
    script(type='text/javascript', src='lib/jquery-ui/jquery-ui.js')
    script(type='text/javascript', src='lib/jquery.easing/js/jquery.easing.js')
    script(type='text/javascript', src='lib/jquery.easy-pie-chart/dist/jquery.easypiechart.js')
    script(type='text/javascript', src='lib/chart.js/dist/Chart.js')
    script(type='text/javascript', src='lib/amcharts/dist/amcharts/amcharts.js')
    script(type='text/javascript', src='lib/amcharts/dist/amcharts/plugins/responsive/responsive.min.js')
    script(type='text/javascript', src='lib/amcharts/dist/amcharts/serial.js')
    script(type='text/javascript', src='lib/amcharts/dist/amcharts/funnel.js')
    script(type='text/javascript', src='lib/amcharts/dist/amcharts/pie.js')
    script(type='text/javascript', src='lib/amcharts/dist/amcharts/gantt.js')
    script(type='text/javascript', src='lib/amcharts-stock/dist/amcharts/amstock.js')
    script(type='text/javascript', src='lib/ammap/dist/ammap/ammap.js')
    script(type='text/javascript', src='lib/ammap/dist/ammap/maps/js/worldLow.js')
    script(type='text/javascript', src='js/jquery-datatables/jquery-datatables.js')

    //Angular Modules
    script(type='text/javascript', src='lib/angular/angular.js')
    script(type='text/javascript', src='lib/angular-route/angular-route.js')
    script(type='text/javascript', src='lib/slimScroll/jquery.slimscroll.js')
    script(type='text/javascript', src='lib/angular-slimscroll/angular-slimscroll.js')
    script(type='text/javascript', src='lib/angular-smart-table/dist/smart-table.js')
    script(type='text/javascript', src='lib/angular-toastr/dist/angular-toastr.tpls.js')
    script(type='text/javascript', src='lib/angular-touch/angular-touch.js')
    script(type='text/javascript', src='lib/angular-ui-sortable/sortable.js')
    script(type='text/javascript', src='lib/bootstrap/js/dropdown.js')
    script(type='text/javascript', src='lib/bootstrap-select/dist/js/bootstrap-select.js')
    script(type='text/javascript', src='lib/bootstrap-switch/dist/js/bootstrap-switch.js')
    script(type='text/javascript', src='lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.js')
    script(type='text/javascript', src='lib/moment/moment.js')
    script(type='text/javascript', src='lib/fullcalendar/dist/fullcalendar.js')
    script(type='text/javascript', src='lib/leaflet/dist/leaflet-src.js')
    script(type='text/javascript', src='lib/angular-progress-button-styles/dist/angular-progress-button-styles.min.js')
    script(type='text/javascript', src='lib/angular-ui-router/release/angular-ui-router.js')
    script(type='text/javascript', src='lib/angular-chart.js/dist/angular-chart.js')
    script(type='text/javascript', src='lib/chartist/dist/chartist.min.js')
    script(type='text/javascript', src='lib/ng-file-upload/ng-file-upload.min.js')
    script(type='text/javascript', src='lib/ng-file-upload/ng-file-upload-shim.min.js')
    script(type='text/javascript', src='lib/ng-file-upload-shim/ng-file-upload-shim.min.js')
    script(type='text/javascript', src='lib/angular-spinner/dist/angular-spinner.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDPuDogpDOdK-WmQv9z9b-fTDSMjnj7KFo&v=3.exp&sensor=false')

    script(type='text/javascript', src='lib/angular-google-maps-geocoder/dist/angular-google-maps-geocoder.min.js')
    //script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDPuDogpDOdK-WmQv9z9b-fTDSMjnj7KFo&v=3.exp')

    script(type='text/javascript', src='lib/angular-chartist.js/dist/angular-chartist.js')
    script(type='text/javascript', src='lib/eve-raphael/eve.js')
    script(type='text/javascript', src='lib/raphael/raphael.min.js')
    script(type='text/javascript', src='lib/mocha/mocha.js')
    script(type='text/javascript', src='lib/morris.js/morris.js')
    script(type='text/javascript', src='lib/angular-morris-chart/src/angular-morris-chart.min.js')
    script(type='text/javascript', src='lib/ionrangeslider/js/ion.rangeSlider.js')
    script(type='text/javascript', src='lib/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='lib/angular-animate/angular-animate.js')
    script(type='text/javascript', src='lib/rangy/rangy-core.js')
    script(type='text/javascript', src='lib/rangy/rangy-classapplier.js')
    script(type='text/javascript', src='lib/rangy/rangy-highlighter.js')
    script(type='text/javascript', src='lib/rangy/rangy-selectionsaverestore.js')
    script(type='text/javascript', src='lib/rangy/rangy-serializer.js')
    script(type='text/javascript', src='lib/rangy/rangy-textrange.js')
    script(type='text/javascript', src='lib/textAngular/dist/textAngular.js')
    script(type='text/javascript', src='lib/textAngular/dist/textAngular-sanitize.js')
    script(type='text/javascript', src='lib/textAngular/dist/textAngularSetup.js')
    script(type='text/javascript', src='lib/angular-xeditable/dist/js/xeditable.js')
    script(type='text/javascript', src='lib/jstree/dist/jstree.js')
    script(type='text/javascript', src='lib/ng-js-tree/dist/ngJsTree.js')
    script(type='text/javascript', src='lib/angular-ui-select/dist/select.js')
    script(type='text/javascript', src='lib/angular-local-storage/dist/angular-local-storage.min.js')
    script(type='text/javascript', src='lib/ng-tags-input/ng-tags-input.min.js')
    script(type='text/javascript', src='lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js')

    script(type='text/javascript', src='http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js')
    script(type='text/javascript', src='js/angular-datatables/angular-datatables.js')


    //Google Maps
    //script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')

    //Application InIt
    script(type='text/javascript', src='app/common/config.js')
    script(type='text/javascript', src='app/pages/pages.module.js')
    script(type='text/javascript', src='app/theme/theme.module.js')
    script(type='text/javascript', src='app/common/apiService.js')
    script(type='text/javascript', src='app/common/common.services.js')
    script(type='text/javascript', src='app/common/dataSharing.service.js')

    //Application Module Files for Navigation
    script(type='text/javascript', src='app/pages/dashboard/dashboard.module.js')
    script(type='text/javascript', src='app/pages/dashboard/dashboard.controller.js')
    script(type='text/javascript', src='app/pages/dashboard/dashboard.services.js')

    //Application Module Files
    script(type='text/javascript', src='app/theme/components/components.module.js')
    script(type='text/javascript', src='app/theme/inputs/inputs.module.js')

    script(type='text/javascript', src='app/app.js')

    script(type='text/javascript', src='app/theme/theme.config.js')
    script(type='text/javascript', src='app/theme/theme.configProvider.js')
    script(type='text/javascript', src='app/theme/theme.constants.js')
    script(type='text/javascript', src='app/theme/theme.run.js')
    script(type='text/javascript', src='app/theme/theme.service.js')
    script(type='text/javascript', src='app/theme/components/toastrLibConfig.js')
    script(type='text/javascript', src='app/theme/directives/animatedChange.js')
    script(type='text/javascript', src='app/theme/directives/autoExpand.js')
    script(type='text/javascript', src='app/theme/directives/autoFocus.js')
    script(type='text/javascript', src='app/theme/directives/includeWithScope.js')
    script(type='text/javascript', src='app/theme/directives/ionSlider.js')
    script(type='text/javascript', src='app/theme/directives/ngFileSelect.js')
    script(type='text/javascript', src='app/theme/directives/scrollPosition.js')
    script(type='text/javascript', src='app/theme/directives/trackWidth.js')
    script(type='text/javascript', src='app/theme/directives/zoomIn.js')
    script(type='text/javascript', src='app/theme/services/baProgressModal.js')
    script(type='text/javascript', src='app/theme/services/baUtil.js')
    script(type='text/javascript', src='app/theme/services/fileReader.js')
    script(type='text/javascript', src='app/theme/services/preloader.js')
    script(type='text/javascript', src='app/theme/services/stopableInterval.js')
    script(type='text/javascript', src='app/theme/components/backTop/backTop.directive.js')
    script(type='text/javascript', src='app/theme/components/baPanel/baPanel.directive.js')
    script(type='text/javascript', src='app/theme/components/baPanel/baPanel.service.js')
    script(type='text/javascript', src='app/theme/components/baPanel/baPanelBlur.directive.js')
    script(type='text/javascript', src='app/theme/components/baPanel/baPanelBlurHelper.service.js')
    script(type='text/javascript', src='app/theme/components/baPanel/baPanelSelf.directive.js')
    script(type='text/javascript', src='app/theme/components/baSidebar/baSidebar.directive.js')
    script(type='text/javascript', src='app/theme/components/baSidebar/baSidebar.service.js')
    script(type='text/javascript', src='app/theme/components/baSidebar/BaSidebarCtrl.js')
    script(type='text/javascript', src='app/theme/components/baSidebar/baSidebarHelpers.directive.js')
    script(type='text/javascript', src='app/theme/components/baWizard/baWizard.directive.js')
    script(type='text/javascript', src='app/theme/components/baWizard/baWizardCtrl.js')
    script(type='text/javascript', src='app/theme/components/baWizard/baWizardStep.directive.js')
    script(type='text/javascript', src='app/theme/components/contentTop/contentTop.directive.js')
    script(type='text/javascript', src='app/theme/components/msgCenter/msgCenter.directive.js')
    script(type='text/javascript', src='app/theme/components/msgCenter/MsgCenterCtrl.js')
    script(type='text/javascript', src='app/theme/components/pageTop/pageTop.directive.js')
    script(type='text/javascript', src='app/theme/components/progressBarRound/progressBarRound.directive.js')
    script(type='text/javascript', src='app/theme/components/widgets/widgets.directive.js')
    script(type='text/javascript', src='app/theme/filters/text/removeHtml.js')
    script(type='text/javascript', src='app/theme/filters/image/appImage.js')
    script(type='text/javascript', src='app/theme/filters/image/kameleonImg.js')
    script(type='text/javascript', src='app/theme/filters/image/profilePicture.js')
    script(type='text/javascript', src='app/theme/inputs/baSwitcher/baSwitcher.js')
    script(type='text/javascript', src='app/theme/components/backTop/lib/jquery.backTop.min.js')

    //Add Modules Files here for Directive, Components, Controller, Services and Filters
    script(type='text/javascript', src='app/pages/login/login.module.js')
    script(type='text/javascript', src='app/pages/login/login.services.js')
    script(type='text/javascript', src='app/pages/login/login.controller.js')

    //Riders Module files
    script(type='text/javascript', src='app/pages/drivers/drivers.module.js')
    script(type='text/javascript', src='app/pages/drivers/drivers.services.js')
    script(type='text/javascript', src='app/pages/drivers/drivers.controller.js')

    //Vehicles Module files
    script(type='text/javascript', src='app/pages/vehicles/vehicles.module.js')
    script(type='text/javascript', src='app/pages/vehicles/vehicles.services.js')
    script(type='text/javascript', src='app/pages/vehicles/vehicles.controller.js')

    //Destination Module files
    script(type='text/javascript', src='app/pages/destinations/destination.module.js')
    script(type='text/javascript', src='app/pages/destinations/destination.services.js')
    script(type='text/javascript', src='app/pages/destinations/destination.controller.js')

    //Distributions Module files
    script(type='text/javascript', src='app/pages/distributors/distributor.module.js')
    script(type='text/javascript', src='app/pages/distributors/distributor.controller.js')

    //Companies Module files
    script(type='text/javascript', src='app/pages/companies/companies.module.js')
    script(type='text/javascript', src='app/pages/companies/companies.services.js')
    script(type='text/javascript', src='app/pages/companies/companies.controller.js')

    //Users Module files
    script(type='text/javascript', src='app/pages/users/users.module.js')
    script(type='text/javascript', src='app/pages/users/users.services.js')
    script(type='text/javascript', src='app/pages/users/usersListing/usersListing.controller.js')

    //Invoices Module files
    script(type='text/javascript', src='app/pages/invoices/invoices.module.js')
    script(type='text/javascript', src='app/pages/invoices/invoices.services.js')
    script(type='text/javascript', src='app/pages/invoices/invoices.controller.js')

    //Expenses Module files
    script(type='text/javascript', src='app/pages/expenses/expenses.module.js')
    script(type='text/javascript', src='app/pages/expenses/expenses.services.js')
    script(type='text/javascript', src='app/pages/expenses/expenses.controller.js')

    //Add Rates Module files
    script(type='text/javascript', src='app/pages/addRates/addRates.module.js')
    script(type='text/javascript', src='app/pages/addRates/addRates.services.js')
    script(type='text/javascript', src='app/pages/addRates/addRates.controller.js')

    //KPO Module files
    script(type='text/javascript', src='app/pages/kpo/kpo.module.js')
    script(type='text/javascript', src='app/pages/kpo/kpo.controller.js')

    //Bills Module files
    script(type='text/javascript', src='app/pages/bill/generateBill.module.js')
    script(type='text/javascript', src='app/pages/bill/generateBill.services.js')
    script(type='text/javascript', src='app/pages/bill/generateBill.controller.js')

    ////Stores
    //script(type='text/javascript', src='app/pages/Stores/store.module.js')
    //script(type='text/javascript', src='app/pages/Stores/store.controller.js')
    //script(type='text/javascript', src='app/pages/Stores/store.services.js')

    ////Promotions
    //script(type='text/javascript', src='app/pages/Promotions/promotion.module.js')
    //script(type='text/javascript', src='app/pages/Promotions/promotion.controller.js')
    //script(type='text/javascript', src='app/pages/Promotions/promotion.services.js')

    ////Categories Module files
    //script(type='text/javascript', src='app/pages/categories/Category.module.js')
    //script(type='text/javascript', src='app/pages/categories/Category.services.js')
    //script(type='text/javascript', src='app/pages/categories/Category.controller.js')
    //
    ////SubCategories Module files
    //script(type='text/javascript', src='app/pages/subCategories/subCategories.module.js')
    //script(type='text/javascript', src='app/pages/subCategories/subCategories.services.js')
    //script(type='text/javascript', src='app/pages/subCategories/subCategories.controller.js')
    //
    ////orders Module files
    //script(type='text/javascript', src='app/pages/Orders/order.module.js')
    //script(type='text/javascript', src='app/pages/Orders/order.services.js')
    //script(type='text/javascript', src='app/pages/Orders/order.controller.js')

    ////PromoCode Module files
    //script(type='text/javascript', src='app/pages/promoCode/promoCode.module.js')
    //script(type='text/javascript', src='app/pages/promoCode/promoCode.services.js')
    //script(type='text/javascript', src='app/pages/promoCode/promoCode.controller.js')


    ////Products
    //script(type='text/javascript', src='app/pages/Products/product.module.js')
    //script(type='text/javascript', src='app/pages/Products/product.controller.js')
    //script(type='text/javascript', src='app/pages/Products/product.services.js')

