head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title= "Logistics Admin"
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="Rafat")
    meta(name="description", content="Logistics Admin Dashboard")

    link(href='../../assets/img/logistics.png', rel='shortcut icon', type='image/x-icon')

    meta(property='fb:app_id', content='APP_ID')
    meta(property='og:title', content='#{appName} - #{title}')
    meta(property='og:description', content='LabourChoice')
    meta(property='og:type', content='website')
    meta(property='og:url', content='APP_URL')
    meta(property='og:image', content='APP_LOGO')
    meta(property='og:site_name', content='LabourChoice')
    meta(property='fb:admins', content='APP_ADMIN')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic')
    link(rel='stylesheet', href='http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css')

    if(process.env.NODE_ENV === 'production' || process.env.NODE_ENV === 'staging' || process.env.NODE_ENV === 'quality')
        link(rel='stylesheet', href='dest/concat-style.min.css?v=c450d4f34cb364de684a2dc9aafc57d6')
        link(rel='stylesheet', href='assets/Ionicons/css/ionicons.css')
        //link(rel='stylesheet', href='js/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='assets/font-awesome/css/font-awesome.css')
        //link(rel='stylesheet', href='js/jquery-datatables/datatables.css')
        //link(rel='stylesheet', href='js/angular-datatables/css/angular-datatables.css')
        //link(rel='stylesheet', href='app/stylesheet.css')
    else
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic')
        link(rel='stylesheet', href='lib/angular-toastr/dist/angular-toastr.css')
        link(rel='stylesheet', href='lib/animate.css/animate.css')
        link(rel='stylesheet', href='lib/bootstrap-select/dist/css/bootstrap-select.css')
        link(rel='stylesheet', href='lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
        link(rel='stylesheet', href='lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
        link(rel='stylesheet', href='lib/fullcalendar/dist/fullcalendar.css')
        link(rel='stylesheet', href='lib/leaflet/dist/leaflet.css')
        link(rel='stylesheet', href='lib/angular-progress-button-styles/dist/angular-progress-button-styles.min.css')
        link(rel='stylesheet', href='lib/chartist/dist/chartist.min.css')
        link(rel='stylesheet', href='lib/morris.js/morris.css')
        link(rel='stylesheet', href='lib/ionrangeslider/css/ion.rangeSlider.css')
        link(rel='stylesheet', href='lib/ionrangeslider/css/ion.rangeSlider.skinFlat.css')
        link(rel='stylesheet', href='lib/textAngular/dist/textAngular.css')
        link(rel='stylesheet', href='lib/angular-xeditable/dist/css/xeditable.css')
        link(rel='stylesheet', href='lib/jstree/dist/themes/default/style.css')
        link(rel='stylesheet', href='lib/angular-ui-select/dist/select.css')
        link(rel='stylesheet', href='app/main1.css')
        link(rel='stylesheet', href='app/main.css')
        link(rel='stylesheet', href='lib/ng-tags-input/ng-tags-input.bootstrap.min.css')
        link(rel='stylesheet', href='lib/ng-tags-input/ng-tags-input.min.css')
        link(rel='stylesheet', href='assets/Ionicons/css/ionicons.css')
        link(rel='stylesheet', href='js/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='assets/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='js/jquery-datatables/datatables.css')
        link(rel='stylesheet', href='js/angular-datatables/css/angular-datatables.css')
        link(rel='stylesheet', href='app/stylesheet.css')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
