<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
    <h4 class="modal-title" id="myModalLabel">{{vm.title}}</h4>
  </div>
  <div class="modal-body">
    <form name="addEditCategory">
      <div class="form-group">
        <ng-form name="riderForm">
            <!-- <label for="">Enter PromoCode</label> -->
            <input type="text" class="form-control"  maxlength="20" id="category" placeholder="Driver Name" name="category" ng-model="vm.categoryName" required=false ng-pattern="/^[a-zA-Z0-9_\s]*$/" required/>
            <br />
            <span ng-show="riderForm.category.$error.pattern"  style="color:red">special chracters not allowed</span>
        </ng-form>

        <!-- <input type="text" class="form-control" maxlength="50" id="category" placeholder="Rider Name" name="category" ng-model="vm.categoryName" required=false> -->
        <ng-form name="mobileForm">
            <input type="text" style="margin-top: 10px"class="form-control" id="mobile" name="mobile" placeholder="+92-XXXXXXX" ng-model="vm.categoryPhone" ng-pattern="vm.re" required/>
            <br />
            <span ng-show="mobileForm.mobile.$error.pattern"  style="color:red">Mobile number is invalid</span>
        </ng-form>

          <ng-form name="mobileForm">
              <input type="text" style="margin-top: 10px"class="form-control" id="cnic" name="cnic" placeholder="CNIC" ng-model="vm.cnic" required/>
              <br />
              <span ng-show="mobileForm.mobile.$error.pattern"  style="color:red">Mobile number is invalid</span>
          </ng-form>

          <ng-form name="mobileForm">
              <input type="text" style="margin-top: 10px"class="form-control" id="address" name="address" placeholder="Street address" ng-model="vm.address" required/>
              <br />
              <span ng-show="mobileForm.mobile.$error.pattern"  style="color:red">Mobile number is invalid</span>
          </ng-form>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.addEditTask();" ng-disabled="addEditCategory.$invalid || vm.inProgress">Save
        </button>
  </div>
</div>
