<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Drivers Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="addCategory()"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Driver
                        </button>
                    </div>
                    <!-- <table class="table table-bordered table-hover" ng-if="ctg.categories.length>0" st-table="ctg.categories" st-safe-src="ctg.categoriescopy" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <th class="table-id">#</th>
                            <th>Name</th>
                            <th>Discription</th>
                            <th>Image</th>
                            <th>Actions</th
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ctg.categories track by $index">
                            <td class="table-id">{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td><img ng-src="{{item.image}}" class="categoryImage"></img></td>
                            <td>
                                <button class="btn btn-xs btn-info" style="margin-right: 5px;"
                                        ng-repeat="task in item.tasks">
                                    {{task.name}}
                                </button>

                                <button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="ctg.editCategory(item, $index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="ctg.deleteCategory(item._id, $index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table> -->
                      <!-- <table datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-hover"> -->
                      <table datatable dt-options="dtOptions" dt-instance="dtInstance"  dt-columns="dtColumns"
                       class="row-border hover"></table>
                    <div ng-if="ctg.categories.length === 0">
                        <p> No category added yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
