doctype html
html(lang='en', ng-app='BlurAdmin')
    base(href='/')
    include ../includes/head
    body
        span(us-spinner spinner-key="spinner-1")
        div(class="body-bg")
        main(ng-if='$pageFinishedLoading ', ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed()}")
            ba-sidebar
            page-top
            .al-main
                .al-content
                    content-top
                    div(ui-view='')
            back-top
        #preloader-img(ng-show='!$pageFinishedLoading')
            img(src="../assets/img/logistics.png")
        #preloader(ng-show='!$pageFinishedLoading')
            div
        include ../includes/foot
