<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditVehcicle();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="number" name="Number"
                               placeholder="Vehicle Number"
                               ng-model="vm.vehicleData.number" maxlength="30" minlength="3" required>
                    </div>
                </div>

                <div class="form-group">
                    <!--<div class="col-sm-6">
                        <select class="form-control " id="type" name="type"
                                ng-change="getSubCategories(vm.vehicleData.categoryId)"
                                ng-model="vm.vehicleData.categoryId" required>
                            <option value="" selected>Select Vehicle type</option>
                            <option value="{{val._id}}" ng-repeat="val in categories">{{val.name}}</option>
                        </select>
                    </div>-->

                    <div class="col-sm-6">
                        <select class="form-control " id="type" name="type" ng-model="vm.vehicleData.type"
                                required>
                            <option value="" selected>Select Vehicle Type</option>
                            <option value="truck">Truck</option>
                            <option value="container">Container</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <select class="form-control" id="driver_id" name="driver_id" required
                                ng-model="vm.vehicleData.driver"
                                ng-init="selectedOption = options[0]"

                                ng-disabled="subCatSelect"
                                ng-options="option.name for option in vm.driversList track by option._id">
                            <option value="" selected="selected">Select Driver</option>
                        </select>
                        <!--ng-model="selectedOption._id"-->
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <h1>
                                <label>
                                    <input type="checkbox" style="margin-top: 8px !important; width:20px; height:20px;" ng-model="vm.vehicleData.is_token_paid" value="">
                                    <h5 style="margin-left: 8px">Is token paid?</h5>
                                </label>
                            </h1>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <h1>
                                <label>
                                    <input type="checkbox" style="margin-top: 8px !important; width:20px; height:20px;" ng-model="vm.vehicleData.is_fixed_veh" value="">
                                    <h5 style="margin-left: 8px">Is fixed vehicle?</h5>
                                </label>
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="annual_token_fee" name="annual_token_fee" placeholder="Annual Token Fee"
                               ng-model="vm.vehicleData.annual_token_fee" maxlength="8" valid-number required>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="detention_charges" name="detention_charges"
                               placeholder="Detention Charges"
                               ng-model="vm.vehicleData.detention_charges" maxlength="8" valid-number>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="current_value" name="current_value"
                               placeholder="Current value"
                               ng-model="vm.vehicleData.current_value" maxlength="30" minlength="3" valid-number required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
