<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Vehicles Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="ctg.addCategory()"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Vehicle
                        </button>
                    </div>
                     <table class="table table-bordered table-hover" st-table="vehiclesCopy" st-safe-src="ctg.vehicles" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <!--<th class="table-id">#</th>-->
                            <th>Number</th>
                            <th>Type</th>
                            <th>Driver Name</th>
                            <th>Token paid?</th>
                            <th>Token Fee</th>
                            <th>Detention Fee</th>
                            <th>Current Value</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody ng-if="ctg.vehicles.length>0">
                        <tr ng-repeat="item in vehiclesCopy track by $index">
                            <!--<td class="table-id">{{$index + 1}}</td>-->
                            <td>{{item.number}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.driver.name}}</td>
                            <td>{{item.is_token_paid}}</td>
                            <td>{{item.annual_token_fee}}</td>
                            <td>{{item.detention_charges}}</td>
                            <td>{{item.current_value}}</td>
                            <td>
                                <button class="btn btn-xs btn-info" style="margin-right: 5px;"
                                        ng-repeat="task in item.tasks">
                                    {{task.name}}
                                </button>

                                <button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="ctg.editCategory(item, $index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="ctg.archiveCategory(item, $index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                         <!--<tfoot>
                         <tr>
                             <td colspan="5" class="text-center">
                                 <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                             </td>
                         </tr>
                         </tfoot>-->
                    </table>
                    <!-- <table datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-hover"> -->
                    <!--<table datatable dt-options="dtOptions" dt-instance="dtInstance"  dt-columns="dtColumns"
                       class="row-border hover"></table>-->
                    <div ng-if="ctg.vehicles.length === 0">
                        <p> No category added yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
