/*=============theme config start==========*/

@font-face {
    font-family: 'Aller_Lt_0';
    src: url('../assets/fonts/Aller_Lt_0.eot');
    src: url('../assets/fonts/Aller_Lt_0.eot') format('embedded-opentype'), url('../assets/fonts/Aller_Lt_0.woff2') format('woff2'), url('../assets/fonts/Aller_Lt_0.woff') format('woff'), url('../assets/fonts/Aller_Lt_0.ttf') format('truetype'), url('../assets/fonts/Aller_Lt_0.svg#Aller_Lt_0') format('svg');
}

@font-face {
    font-family: 'Aller_Rg_0';
    src: url('../assets/fonts/Aller_Rg_0.eot');
    src: url('../assets/fonts/Aller_Rg_0.eot') format('embedded-opentype'), url('../assets/fonts/Aller_Rg_0.woff2') format('woff2'), url('../assets/fonts/Aller_Rg_0.woff') format('woff'), url('../assets/fonts/Aller_Rg_0.ttf') format('truetype'), url('../assets/fonts/Aller_Rg_0.svg#Aller_Rg_0') format('svg');
}

a.collapse-menu-link {
    margin-top: 15px;
}

@media (min-width: 501px) {
    .menu-collapsed .al-sidebar {
        width: 54px;
    }
}

a.al-sidebar-list-link {
    padding-left: 20px;
}

a.al-sidebar-list-link i {
    margin-right: 20px;
}

body {
    font-family: 'Aller_Lt_0';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aller_Rg_0';
}

h1.al-title, .panel > .panel-heading, .panel, a.email-link {
    color: #212020;
}

.al-breadcrumb li {
    font-size: 16px;
}

.btn, button.btn.btn-success, button.btn.btn-danger {
    border: none;
    border-radius: 0px;
}

.btn {
    padding: 8px 12px 5px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    letter-spacing: 1.7px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    /*border-top: 0;*/
    font-family: 'Aller_Rg_0';
}

.sidebar-hover-elem {
    background: #3f9ecb;
}

.al-sidebar-list-item.selected:not(.with-sub-menu), .al-sidebar-sublist > li.selected:not(.with-sub-menu) > a, .pagination > .active > a, button.btn.btn-primary, .pagination > .active > a:focus, .pagination > .active > a:hover, button.btn.btn-primary:hover, button.btn.btn-primary:focus {
    background-color: #3f9ecb;
}

button.btn.btn-primary, button.btn.btn-primary:hover, .form-control:focus {
    border-color: #3f9ecb;
}

a.al-sidebar-list-link:hover, .al-sidebar-sublist > li a:hover, a.al-sidebar-list-link:hover b, body a:hover, body a, a.collapse-menu-link:hover, .icons-list.primary i:hover, .back-top, .back-top:active, .text-info, .al-msg-center li > a:hover {
    color: #3f9ecb;
}

a.collapse-menu-link {
    color: #fff;;
}

.page-top {
    background-color: #212020;
}

.al-sidebar {
    background-color: #3c3c3c;
}

a.al-logo {
    /*float: none;*/
}

.panel {
    box-shadow: 0 2px 16px 0px rgba(0, 0, 0, 0.10);
    color: #212020;
}

.btn:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.al-msg-center li > a .notification-ring {
    border: 1px solid #3f9ecb;
}

.fa {
    /*font-size: 23px*/
}

.al-msg-center li > a span {
    top: -13px;
    right: -11px;
}

.al-msg-center li > a .notification-ring {
    top: -26px;
    right: -25px;
}

.btn-success, button.btn.btn-success, button.btn.btn-success:hover, button.btn.btn-success:active, button.btn.btn-success:focus {
    background-color: #1ed670;
}

button.btn.btn-danger {
    background-color: #ea452f;
}

/*=============theme config end==========*/

.auto-center {
    width: 100%;
    margin: 0 auto;
}

.auto-center-auth {
    width: 50%;
    margin: 0 auto;
}

.modal-center {
    text-align: center;
}

.padding-top {
    padding-top: 10px;
}

.modal-message {
    width: 100% !important;
    margin: 0 auto !important;
}

.message-error {
    color: #eb6f6f !important;
}

.message-error-auth {
    color: #eb6f6f !important;
    text-align: center;
}

.icons-list > div {
    margin-bottom: 0 !important;
}

.top3 {
    margin-top: 3px;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.top-5 {
    margin-top: -5px;
}

.top-7 {
    margin-top: -7px;
}

.top-10 {
    margin-top: -10px;
}

.top-15 {
    margin-top: -15px;
}

.top-17 {
    margin-top: -17px;
}

.top-30 {
    margin-top: -30px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom7 {
    margin-bottom: 7px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom25 {
    margin-bottom: 25px;
}

.bottom30 {
    margin-bottom: 30px;
}

.width90 {
    width: 90px;
}

.width110 {
    width: 110px;
}

.width190 {
    /*width: 190px;*/
    float: left;
    margin: 0 3px 0 0;
}

.width130 {
    width: 130px;
}

.error-message-center {
    margin-left: 5px;
}

.bold-span {
    font-weight: 500;
    font-size: small;
}

.medium-text {
    font-size: small;
}

.large-text {
    font-size: x-large;
    font-weight: bold;
    display: block;
}

.text-contact {
    display: inline-block;
    font-size: medium;
    padding-bottom: 7px;
    padding-right: 5px;

}

.text-contact-bold {
    font-weight: bold;
}

.left10 {
    margin-left: 3px;
}

.checkbox-margin {
    margin: 2px 0px 0px -19px !important
}

.no-padding {
    padding: 0
}

.cancel-order {
    background-image: url('assets/img/cancel-order.png');
}

.vertical-center {
    min-height: 80vh;
    min-height: 80%;
    display: flex;
    align-items: center;
}

#preloader {
    background-color: #fff
}

#preloader > div {
    border-top-color: #201e1e;
}

#preloader > div::before {
    border-top-color: #504a4a;
}

#preloader > div::after {
    border-top-color: #898181;
}

#preloader-img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    /* background: #000000; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: -27px;
}

#preloader-img img {
    width: 50px;
}

/*
@media screen and (min-width: 1325px) and (max-width: 1650px), (min-width: 700px) and (max-width: 830px), (max-width: 400px) {
    .pie-charts .chart-icon {
         display: inline-block;
    }
}*/

@media (min-width: 501px) {
    .menu-collapsed .al-sidebar {
        width: 54px;
    }
}

.descriptionlabel {
    color: #3f9ecb;
    padding-bottom: 5px;
    font-size: 18px;
}

.userNameMargin {
    margin: 5px 0;
    text-transform: capitalize;
}

.orderslistwidth {
    width: 25%;
}

.pull-right-margin {
    margin: 0 5px 0 0;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 115px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(../assets/img/upload.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 40px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.dataTable td {
    word-break: break-all;
}

.dataTables_filter input[type="search"] {
  border: 1px solid #E4E4E4;
  border-radius: 11px;
  line-height: 1.7;
  width: 200px;
}
table.dataTable thead .sorting_asc:after{
  content: none;
}
table.dataTable thead .sorting:after{
  content: none;
}
table.dataTable thead > tr > th{
      height: 40px;
      font-weight: bold;
      /*text-align: center;*/
}
.active{
background-color:green;
}
div.dataTables_length select{
width: 75px;
border: 1px solid #c8c8c8;
display: inline-block;
}
a.al-logo span {
    color: #e02426;
}
/*table.dataTable tbody td{
  text-align: center;
}*/
.btn-subCat{
  margin-top: 10px;
}
.center{
  text-align: center;
}

/* Background for spinner */
.spinner:before {
    background-color: rgba(49, 37, 37, 0.2);
    border-radius: 6px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    content: " ";
}
.spinner{
    top: 20%!important;
}
.mainDashLeaftlet{
  text-align: center;
}
.faIconCustom{
color: #7a2020;
padding-top: 6px;
font-size: 21px;
}
.Data{
      color: #3c3c3c;
}
/*.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td
{
      width: 25%;
}*/
.table> tbody> tr> td {
  text-align: center;
}
.table > thead:first-child > tr:first-child > th{
  text-align: center;
}
.prodDetails{
  padding-top: 30px;
  padding-bottom: 5px;
}
.editCatBtn{
  width: 85px;
}
.editGenBtn{
    width: 105px;
}
.delCatBtn{
  width: 105px;
}
.viewSub{
  width: 195px;
  text-align: center;
}
.description{
    width: 190px!important;
}
.panel.medium-panel {
    height: auto;
}

button.btn.btn-default {
    border-width: 1px;
    color: #666666;
    background: rgba(171, 52, 52, 0);
    box-shadow: 1px 2px 6px rgba(165, 146, 146, 0.2);
    border-color: #2f2f2f;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    border-bottom-left-radius: 0;
    margin-left: 5px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #5cb85c;
    background: #5cb85c;
}
.btn-success, button.btn.btn-success, button.btn.btn-success:hover, button.btn.btn-success:active, button.btn.btn-success:focus {
    background-color: #1ed670;
    background: #6ec0b7;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: bottom;
    padding-bottom: 1px;
}
/*tr{
  text-align: center;
}*/
table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 18px;
    text-align: center;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-wrap: break-word;
    white-space: wrap;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
       hyphens: auto;
}
.form-group label {
    margin-bottom: 5px;
    color: #666666;
    font-weight: 400;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    /* font-weight: bold; */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
     cursor:pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: none;
    background: #D6D6D6;
    cursor:pointer;
}

.PromoBtns{
    width: 90px;
}

.promobuttons{
    width: 300px!important;
}

.priceThrough{
    text-decoration: line-through;
}

.invoices-modal > .modal-dialog {
    width : 70%;
}

.resize-textarea{
    resize: none;
}

.other_order-field-margin{
    margin-top: 15px;
}

.other_order_heading {
    margin-left: 15px;
    font-size: 15px;
}

.add_more_order{
    color: white !important;
}

.remove_other_orders{
    cursor: pointer;
}

.product_list{
    margin-top: 100px;
}

.dcn_list {
    padding: 10px;
    margin: 5px;
    border: 1px solid;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #b5b6b7 !important;
    outline: 0 !important;
}

.expenses-driver {
    width: 300px;
    display: inline;
}


