<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Labours Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <!--<div class="form-group select-page-size-wrap ">-->
                    <!--<label>Filters-->
                    <!--<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker-->
                    <!--ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">-->
                    <!--</select>-->
                    <!--</label>-->
                    <!--</div>-->
                    <table class="table table-bordered table-hover" st-table="listing.users">
                        <thead>
                        <tr class="black-muted-bg">
                            <th class="table-id">#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in listing.users track by $index">
                            <td class="table-id">{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                            <td>{{item.mobileNumber}}</td>
                            <td>{{item.address.streetAddress}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>