<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12"
         ba-panel ba-panel-title="Analytics " ba-panel-class="medium-panel">

        <div class="">
            <div class=" mainDashLeaftlet">

                <div class="col-sm-6 dashAnalyticsContainer">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-3 faIconCustom">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <div class="col-sm-9 Data">
                                <h1> {{dc.analytics.driversCount||0}}</h1>
                                <h3>Total drivers</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mainDashLeaftlet">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-3 faIconCustom">
                                <i class="fa fa-check-square-o fa-3x"></i>
                            </div>
                            <div class="col-sm-9 Data">
                                <h1> {{dc.analytics.invoicesCount||0}}</h1>
                                <h3>Invoices Count</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mainDashLeaftlet">
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-3 faIconCustom">
                                <span class="fa fa-car fa-3x"></span>
                            </div>
                            <div class="col-sm-9 Data">
                                <h1> {{dc.analytics.vehiclesCount||0}}</h1>
                                <h3>Total Vehicles</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mainDashLeaftlet" >
                    <div class="dashbox panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-3 faIconCustom">
                                <i class="fa fa-building fa-3x"></i>
                            </div>
                            <div class="col-sm-9 Data">
                                <h1> {{dc.analytics.companiesCount||0}}</h1>
                                <h3>Companies</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
