<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditRates();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Select Company</label>
                        <select class="form-control"
                                ng-model="vm.ratesData.company" required
                                ng-options="option.company_name for option in vm.companiesList track by option._id">
                            <option value="" selected="selected">Select Company</option>
                        </select>
                        <!--ng-model="selectedOption._id"-->
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Select Town</label>
                        <select class="form-control"
                                ng-model="vm.ratesData.destination" required
                                ng-options="option.destination_name for option in vm.destinationsList track by option._id">
                            <option value="" selected="selected">Select Destination</option>
                        </select>
                        <!--ng-model="selectedOption._id"-->
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Current Rate</label>
                        <input type="text" class="form-control" placeholder="Current Rate"
                               ng-model="vm.ratesData.rate" maxlength="30" minlength="1" valid-number required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Old Rate</label>
                        <input type="text" class="form-control" placeholder="Old Rate"
                               ng-model="vm.ratesData.old_rate" maxlength="30" minlength="1" valid-number>
                    </div>
                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
