<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Rates Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table">
                        <input type="text" ng-model="ar.searchTerm" ng-model-options='{ debounce: 500 }'
                               placeholder="search" ng-change="ar.searchRates();">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="ar.addRates();"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Rates
                        </button>
                        <!--<form class="pull-right" ng-submit="ar.uploadFile();">
                            <input type="file" file-model="ar.imgPath"
                                   style="width: 200px; float: left;">
                            <input style="margin-right: 20px;" type="submit" value="update rates" name="submit">
                        </form>-->

                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="ar.updateRates();"
                                style="margin-right:15px; margin-bottom: 10px;">Update Rates
                        </button>
                    </div>
                    <table class="table table-bordered table-hover" st-table="ratesCopy" st-safe-src="ar.rates" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <!--<th class="table-id">#</th>-->
                            <th>Company</th>
                            <th>Town</th>
                            <th>Current Rate</th>
                            <th>Old Rate</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody ng-if="ar.rates.length>0">
                        <tr ng-repeat="item in ratesCopy track by $index">
                            <!--<td class="table-id">{{$index + 1}}</td>-->
                            <td>{{item.company_name}}</td>
                            <td>{{item.destination_name}}</td>
                            <td>{{item.rate}}</td>
                            <td>{{item.old_rate}}</td>
                            <td>
                                <button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="ar.editRates(item, $index)">
                                    Edit
                                </button>
                                <!--<button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="ar.archiveDestination(item, $index)">Delete
                                </button>-->
                            </td>
                        </tr>
                        </tbody>
                        <!--<tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>-->
                    </table>
                    <!-- <table datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-hover"> -->
                    <!--<table datatable dt-options="dtOptions" dt-instance="dtInstance"  dt-columns="dtColumns"
                       class="row-border hover"></table>-->
                    <div ng-if="ar.destinations.length === 0">
                        <p> No category added yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
