<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.uploadFile();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">Chose File to update rates</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Select Company</label>
                        <select class="form-control"
                                ng-model="vm.company" required
                                ng-options="option.company_name for option in vm.companiesList track by option._id">
                            <option value="" selected="selected">Select Company</option>
                        </select>
                        <!--ng-model="selectedOption._id"-->
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-6">
                        <label>Old fuel rate</label>
                        <input type="text" class="form-control" placeholder="Old fuel rate"
                               ng-model="vm.oldFuelRate" maxlength="10" minlength="1" ng-required="true" valid-number>
                    </div>

                    <div class="col-sm-6">
                        <label>New fuel rate</label>
                        <p class="input-group">
                            <input type="text" class="form-control" ng-model="vm.newFuelRate"
                                   placeholder="New fuel rate" maxlength="10" minlength="1" ng-required="true" valid-number/>
                        </p>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <p class="input-group">
                            <label>Effect from date</label>
                            <input type="text" class="form-control" ng-readonly="true"
                                   uib-datepicker-popup="{{vm.format}}"  uib-datepicker-popup
                                   ng-model="vm.effectFrom"
                                   is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" close-text="Close"
                                   placeholder="Effect from date" ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-12">
                        <input type="file" file-model="vm.imgPath" accept=".xls,.xlsx"
                               style="width: 200px; float: left;">
                    </div>
                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
