<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditDistributor();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="distribution_name" name="distribution_name"
                               placeholder="Distribution Name"
                               ng-model="vm.distributorData.distribution_name" maxlength="30" minlength="1" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Select Destination</label>
                        <select class="form-control" id="destination" name="destination"
                                ng-model="vm.distributorData.destination"
                                ng-init="selectedOption = options[0]"
                                required
                                ng-disabled="subCatSelect"
                                ng-change="vm.destinationChange();"
                                ng-options="option.destination_name for option in vm.destinationsList track by option._id">
                            <option value="" selected="selected">Select Destination</option>
                        </select>
                    </div>
                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
