<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditExpense();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}</h4>

                    <div class="modal-body">

                        <div class="form-group">

                            <div class="col-sm-6">
                                <p class="input-group">
                                    <label>Select Vehicle</label>
                                    <select class="form-control expenses-driver"
                                            ng-model="vm.expenseData.vehicle" required
                                            ng-change="vm.vehicleChange();"
                                            ng-options="option.number for option in vm.vehiclesList track by option._id">
                                        <option value="">Select Vehicle</option>
                                    </select>
                                </p>
                            </div>

                            <div class="col-sm-6">
                                <p class="input-group">
                                    <label>Expense date (dd/mm/yyyy)</label>
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{vm.format}}"  uib-datepicker-popup
                                           ng-model="vm.expenseData.expense_date"
                                           is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" close-text="Close"
                                           placeholder="Date" ng-required="true"/>
                                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                                </p>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-sm-6">
                                <label>Select expense category</label>
                                <input type="text" class="form-control" readonly="readonly"
                                       placeholder="Expense Category"
                                       ng-model="vm.expenseData.expenseCategory" required>
                                <!--ng-model="selectedOption._id"-->
                            </div>

                            <div class="col-sm-6">
                                <label>Select expense type</label>
                                <select class="form-control"
                                        ng-model="vm.expenseData.expense_type" required
                                        ng-options="option for option in vm.expenseType track by option">
                                    <option value="">Select Expense Type</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-sm-6">
                                <label>Amount</label>
                                <input type="text" class="form-control"
                                       placeholder="Amount"
                                       ng-model="vm.expenseData.amount" maxlength="20" minlength="1" valid-number required>
                            </div>

                            <div class="col-sm-6">
                                <label>Remarks</label>
                                <textarea rows="5" class="form-control resize-textarea"
                                          ng-model="vm.expenseData.remarks"
                                          placeholder="Expense detail"></textarea>
                            </div>

                        </div>


                    </div>
                    <hr>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
            </div>
        </form>
    </div>

</div>
