<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Expenses Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <div class="add-row-editable-table">
                        <label>Select Vehicle</label>
                        <select class="form-control expenses-driver" id="vehicle" name="vehicle"
                                ng-model="exp.selectedVehicle" required
                                ng-change="exp.vehicleChange();"
                                ng-options="option.number for option in exp.vehiclesList track by option._id">
                            <option value="">Select Vehicle</option>
                        </select>
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="exp.addVehicleExpense()"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Expense
                        </button>
                    </div>
                    <table class="table table-bordered table-hover" st-table="expensesCopy" st-safe-src="exp.expenses" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <!--<th class="table-id">#</th>-->
                            <th>Vehicle</th>
                            <th>Driver</th>
                            <th>Expense category</th>
                            <th>Expense Type</th>
                            <th>Expense Amount</th>
                            <th>Expense Date</th>
                            <th>Expense remarks</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody ng-if="exp.expenses.length>0">
                        <tr ng-repeat="item in expensesCopy track by $index">
                            <!--<td class="table-id">{{$index + 1}}</td>-->
                            <td>{{item.vehicle_id.number}}</td>
                            <td>{{item.driver_id.name}}</td>
                            <td ng-if="item.expense_category == 'Daily expenses'">Daily expense</td>
                            <td>{{item.expense_type}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.expense_date | date : "dd/MM/yyyy"}}</td>
                            <td>{{item.remarks}}</td>
                            <td>

                                <!--<button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="exp.editInvoice(item, $index)">
                                    Edit
                                </button>-->
                                <button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="exp.archiveInvoice(item, $index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <!--<tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>-->
                    </table>
                    <div ng-if="exp.expenses.length === 0 && exp.selectedVehicle">
                        <p> No Expense added yet.</p>
                    </div>
                    <div ng-if="exp.expenses.length === 0 && !exp.selectedVehicle">
                        <p>Please select vehicle to see expenses.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
