<!DOCTYPE html>
<html lang="en" ng-app="mean">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=10, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>RAFT</title>
    <!-- Bootstrap CSS -->


</head>
<body style="padding:0; margin:0;
  font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  background-color:#eeeeee;">
<table cellpadding="0" cellspacing="0" align="center" style="max-width:600px;">

    <tr>
        <td style="font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; font-size:32px;color:black; padding:26px 0 26px 0; font-size:26px; padding:26px 0 26px 0; font-weight:bold;">RAFT Bazaar</td>
    </tr>
    <tr>
        <td style="padding:25px; background-color:#fff;">

            <table cellpadding="0" cellspacing="0" style="max-width:520px; width:100%;">
                <tr>
                    <td style=" padding-bottom:30px;">
                        <img src="https://s3-us-west-2.amazonaws.com/raft/assets/login_logo.png"
                             alt="" style="display:block; width:90px;">
                    </td>
                </tr>
                <tr>
                    <td style="color:rgba(0,0,0,1); text-align:center; font-size:15px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">
                        Welcome to RAFT Bazaar
                    </td>
                </tr>

                <tr>
                    <td style="color:rgba(0,0,0,1);padding-top:25px; font-size:15px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';">
                        Welcome, <%= name %>!
                    </td>
                </tr>

                <tr>
                    <td style="color:rgba(0,0,0,1); font-size:14px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 25px; line-height: 25px;">
                        Thank you for creating a RAFT Bazaar account and being awesome! You have now started to simplify your Grocery Shoping process.
                    </td>
                </tr>

                <tr>
                    <td style=" font-size:16px; font-weight:bold; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top:32px; text-align:center;">
                        <div style="background-color: red; margin: auto; width:245px; align:center;color:white; border-radius: 7px; "><a style="color:white;" href="https://www.raft.com.pk"><h1>Get started >><h1></a></div></div>
                    </td>
                </tr>


                <tr>
                    <td style="color:rgba(0,0,0,1); font-size:14px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 39px; line-height: 20px;">
                        Thank You!
                    </td>

                </tr>
                <tr>
                    <td style="color:rgba(0,0,0,1); font-size:14px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 20px; line-height: 25px;">
                        Team RAFT Bazaar
                    </td>
                </tr>

            </table>

        </td>
    </tr>

    <tr>
        <td align="center" style=" padding-bottom:30px; padding-top:15%">
            <div style="float:left; padding-left:33%">
                <a href="https://raft.com.pk"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-web.png" alt="" style="display:block; width:30px;"></a>
            </div >
            <div style="float:left; padding-left:3%">
                <a href="https://facebook.com"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-fb.png" alt="" style="display:block; width:30px;"></a>
            </div>
            <div style="float:left; padding-left:3%">
                <a href="https://linkedin.com"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-linkedin.png" alt="" style="display:block; width:30px;"></a>
            </div>
            <div style="float:left; padding-left:3%">
                <a href="https://instagram.com"> <img src="https://s3.ap-south-1.amazonaws.com/raft-3/Email_Icons/icon-instagram.png" alt="" style="display:block; width:30px;"></a>

            </div>
        </td>
    </tr>
    <tr>
        <td style="color:rgb(0,0,0);text-align:center; font-size:11px; font-family:'SlateStd-Bk', 'Lucida Grande', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; padding-top: 0px;">
            &#169; 2017. All rights reserved.
        </td>
    </tr>
</table>


</body>
</html>