<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">

                <div class="form-group">

                <div class="col-sm-3">
                    <p class="input-group">
                        <label>Start date</label>
                        <input type="text" class="form-control"
                               uib-datepicker-popup="{{vm.format}}"  uib-datepicker-popup
                               ng-model="vm.startDate"
                               is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" close-text="Close"
                               placeholder="Date" ng-required="true"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                    </p>
                </div>

                <div class="col-sm-3">
                    <p class="input-group">
                        <label>End date</label>
                        <input type="text" class="form-control"
                               uib-datepicker-popup="{{vm.format}}"  uib-datepicker-popup
                               ng-model="vm.endDate"
                               is-open="vm.popup3.opened" datepicker-options="vm.dateOptions" close-text="Close"
                               placeholder="Date" ng-required="true"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open3()"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                    </p>
                </div>

            </div>

                <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" ng-click="vm.generateBill();">Generate Bill</button>
                </div>
            </div>

            </form>
        </div>

    </div>
</div>
