<div class="row">

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditInvoice();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-outline sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">

                    <div class="col-sm-6">
                        <label>Bilti #</label>
                        <input type="text" class="form-control"
                               placeholder="Bilti No."
                               ng-model="vm.invoiceData.bilti_no" maxlength="30" minlength="1" valid-number required>
                    </div>

                    <div class="col-sm-3">
                        <p class="input-group">
                            <label>Billing date (dd/mm/yyyy)</label>
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{vm.format}}"  uib-datepicker-popup
                                   ng-model="vm.invoiceData.bilti_date"
                                   is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" close-text="Close"
                                   placeholder="Date" ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                    <div class="col-sm-3">
                        <p class="input-group">
                            <label>Delivery date (dd/mm/yyyy)</label>
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{vm.format}}"  uib-datepicker-popup
                                   ng-model="vm.invoiceData.delivery_date"
                                   is-open="vm.popup3.opened" datepicker-options="vm.dateOptions" close-text="Close"
                                   placeholder="Date" ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open3()"><i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                </div>

                <div class="form-group">

                    <div class="col-sm-6">
                        <div class="col-sm-10" ng-if="!vm.invoiceData.is_fixed_veh">
                            <label>Select Vehicle</label>
                            <select class="form-control" id="vehicle" name="vehicle"
                                    ng-model="vm.invoiceData.vehicle" required
                                    ng-change="vm.vehicleChange();"
                                    ng-options="option.number for option in vm.vehiclesListCopy track by option._id">
                                <option value="">Select Vehicle</option>
                            </select>
                        </div>
                        <div class="col-sm-10" ng-if="vm.invoiceData.is_fixed_veh">
                            <label>Fixed vehicle No.</label>
                            <input type="text" class="form-control"
                                   placeholder="Fixed vehicle No."
                                   ng-model="vm.invoiceData.fixed_vehicle_no" maxlength="30" minlength="1" required>
                        </div>
                        <div class="col-sm-2">
                            <label>Is Fixed?</label>
                            <div>
                                <input type="checkbox" style="width:20px; height:20px;"
                                       ng-change="vm.fixedVehicle();"  ng-model="vm.invoiceData.is_fixed_veh" value="">
                            </div>
                                </div>
                        <!--ng-model="selectedOption._id"-->
                    </div>

                    <div class="col-sm-6" ng-if="!vm.invoiceData.is_fixed_veh && !vm.invoiceData.is_shahzore">
                        <label>Select Driver</label>
                        <select class="form-control" id="driver" name="driver"
                                ng-model="vm.invoiceData.driver" required
                                ng-options="option.name for option in vm.driversList track by option._id">
                            <option value="">Select Driver</option>
                        </select>
                    </div>

                    <div class="col-sm-6" ng-if="vm.invoiceData.is_shahzore">
                        <label>Shahzore Driver Name</label>
                        <input type="text" class="form-control"
                               placeholder="shahzore driver name"
                               ng-model="vm.invoiceData.shahzore_driver_name" maxlength="30" minlength="1" required>
                    </div>

                    <div class="col-sm-6" ng-if="vm.invoiceData.is_fixed_veh">
                        <label>Fixed Driver Name</label>
                        <input type="text" class="form-control"
                               placeholder="Fixed driver name"
                               ng-model="vm.invoiceData.fixed_driver_name" maxlength="30" minlength="1" required>
                    </div>

                </div>

                <div class="form-group" ng-if="vm.invoiceData.is_fixed_veh">
                    <div class="col-sm-12">
                        <label>Fixed price</label>
                        <input type="text" class="form-control"
                               placeholder="Fixed price"
                               ng-model="vm.invoiceData.fixed_price" maxlength="30" minlength="1" valid-number required>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-6">
                        <label>Select Destination</label>
                        <!--<select class="form-control" id="destination" name="destination"
                                ng-model="vm.invoiceData.destination"
                                ng-init="selectedOption = options[0]"
                                required
                                ng-disabled="subCatSelect"
                                ng-change="vm.destinationChange();"
                                ng-options="option.destination_name for option in vm.destinationsList track by option._id">
                            <option value="" selected="selected">Select Destination</option>
                        </select>-->
                        <input type="text" ng-model="vm.invoiceData.destination" placeholder="Select Destination"
                               uib-typeahead="state as state.destination_name for state in vm.getDestinationsList() | filter:$viewValue "
                               typeahead-template-url="customTemplate.html"
                               typeahead-on-select="vm.destinationChange($item);"
                               class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>

                    <div class="col-sm-6">
                        <label>Select Distributor</label>
                        <!--<select class="form-control" id="company" name="company"
                                ng-model="vm.invoiceData.distribution"
                                ng-init="selectedOption = options[0]"
                                required
                                ng-disabled="subCatSelect"
                                ng-options="option.distribution_name for option in vm.distributionsListCopy track by option._id">
                            <option value="" selected="selected">Select Distribution</option>
                        </select>-->
                        <input type="text" ng-model="vm.invoiceData.distribution" placeholder="Select Distributor"
                               uib-typeahead="state as state.distribution_name for state in vm.getDistributionsList() | filter:$viewValue "
                               typeahead-template-url="customTemplate.html"
                               class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                    </div>

                </div>

                <!--<div class="form-group">

                    <div class="col-sm-6">
                        <label>No. of carton</label>
                        <input type="text" class="form-control" id="no_of_carton" name="no_of_carton"
                               placeholder="No. of cartons"
                               ng-model="vm.invoiceData.no_of_carton" maxlength="10" minlength="1" valid-number required>
                    </div>

                    <div class="col-sm-6">
                        <label>Is Other Orders?</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" style="width:20px; height:20px;" ng-change="vm.otherOrderChange();" ng-model="vm.invoiceData.is_other_orders" value="">
                                <h5 style="margin-left: 8px">Other Orders?</h5>
                            </label>
                        </div>
                    </div>

                </div>-->

                <!--<div class="form-group">

                    <div class="col-sm-12">
                        <p class="input-group">
                            <label>Description</label>
                            <textarea id="description" name="description" rows="5" class="form-control resize-textarea"
                                      ng-model="vm.invoiceData.description"
                                      placeholder="Description of cartons or goods" ng-required="true"></textarea>
                        </p>
                    </div>

                </div>-->

                <div style="padding: 10px; margin: 5px; border: 1px solid;" ng-repeat="item in vm.invoiceData.dcn_list track by $index" class="form-group dcn_list">

                    <p class="other_order_heading">DCN {{$index + 1}} &nbsp; &nbsp;
                        <a ng-if="$index > 0" ng-click="vm.removeDcn($index)" class="remove_other_orders">X</a>
                    </p>

                    <div class="col-sm-6">
                        <label>DCN No.</label>
                        <input type="text" class="form-control"
                               placeholder="DCN No."
                               ng-model="item.dcn_no" maxlength="20" minlength="1" required>
                    </div>

                    <div class="col-sm-6">
                        <label>Quantity</label>
                        <input type="text" class="form-control"
                               placeholder="Quantity"
                               ng-model="item.quantity" maxlength="10" minlength="1" valid-number required>
                    </div>

                    <div class="col-sm-6">
                        <span class="btn btn-primary other_order-field-margin add_more_order" ng-click="vm.addMoreDcn();" ng-if="vm.invoiceData.dcn_list.length === $index + 1">+DCN</span>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-12 other_order-field-margin">
                        <label>DCN Description</label>
                        <textarea rows="5" class="form-control resize-textarea"
                                  ng-model="vm.invoiceData.dcn_description"
                                  placeholder="Description of cartons or goods"></textarea>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" style="width:20px; height:20px;" ng-model="vm.invoiceData.is_delivered" value="">
                                <h5 style="margin-left: 8px">Is Delivered?</h5>
                            </label>
                        </div>
                    </div>

                    <!--<div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" style="width:20px; height:20px;"
                                       ng-change="vm.twoWayOrderChange();"  ng-model="vm.invoiceData.is_two_way" value="">
                                <h5 style="margin-left: 8px">Is Two Way?</h5>
                            </label>
                        </div>
                    </div>-->

                </div>

                <div ng-if="vm.invoiceData.is_delivered">

                    <div ng-if="vm.invoiceData.is_two_way" ng-repeat="item in vm.invoiceData.two_way_detail track by $index" class="form-group">

                        <p class="other_order_heading">Order {{$index + 1}} &nbsp; &nbsp;
                            <a ng-if="$index > 0" ng-click="vm.removeTwoWayOrders($index)" class="remove_other_orders">X</a>
                        </p>

                        <div class="col-sm-6">
                            <label>Company Name</label>
                            <input type="text" class="form-control"
                                   placeholder="Company Name"
                                   ng-model="item.company_name" maxlength="100" minlength="1" required>
                        </div>

                        <div class="col-sm-6">
                            <label>No. of Carton</label>
                            <input type="text" class="form-control"
                                   placeholder="No. of carton"
                                   ng-model="item.no_of_carton" maxlength="10" minlength="1" valid-number required>
                        </div>

                        <div class="col-sm-6 other_order-field-margin">
                            <label>Amount</label>
                            <input type="text" class="form-control"
                                   placeholder="Amount"
                                   ng-model="item.amount" maxlength="10" minlength="1" valid-number required>
                        </div>

                        <div class="col-sm-6 other_order-field-margin">
                            <label>Select Destination</label>
                            <select class="form-control"
                                    ng-model="item.destination"
                                    ng-init="selectedOption = options[0]"

                                    ng-disabled="subCatSelect"
                                    ng-options="option.destination_name for option in vm.destinationsList">
                                <option value="" selected="selected">Select Destination</option>
                            </select>
                            <!--ng-model="selectedOption._id"-->
                        </div>

                        <div class="col-sm-12 other_order-field-margin">
                            <label>Description</label>
                            <textarea rows="5" class="form-control resize-textarea"
                                      ng-model="item.description"
                                      placeholder="Description of cartons or goods" ng-required="true"></textarea>

                        </div>

                        <div class="col-sm-6">
                            <span class="btn btn-primary other_order-field-margin add_more_order" ng-click="vm.addMoreTwoWayOrder();" ng-if="vm.invoiceData.two_way_detail.length === $index + 1">Add more Order</span>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-sm-6">
                            <label>Fuel Charges</label>
                            <input type="text" class="form-control" placeholder="Fuel Charges"
                                   ng-model="vm.invoiceData.fuel_charges" maxlength="30" minlength="1" valid-number>
                        </div>

                        <div class="col-sm-6">
                            <label>Toll Charges</label>
                            <p class="input-group">
                                <input type="text" class="form-control" ng-model="vm.invoiceData.toll_charges"
                                       placeholder="Toll Charges" valid-number/>
                            </p>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-sm-6">
                            <label>Transit Loss</label>
                            <input type="text" class="form-control" placeholder="Transit Charges"
                                   ng-model="vm.invoiceData.transit_loss" maxlength="30" minlength="1" valid-number>
                        </div>

                        <div class="col-sm-6">
                            <label>Offloading charges</label>
                            <p class="input-group">
                                <input type="text" class="form-control" ng-model="vm.invoiceData.offloading_charges"
                                       placeholder="Offloading Charges" valid-number/>
                            </p>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-sm-6">
                            <label>Police Challan</label>
                            <input type="text" class="form-control" placeholder="Police Challan"
                                   ng-model="vm.invoiceData.police_challan" maxlength="30" minlength="1" valid-number>
                        </div>

                        <div class="col-sm-6">
                            <label>Detention Charges</label>
                            <input type="text" class="form-control" ng-model="vm.invoiceData.detention_charges"
                                   placeholder="Detention Charges" valid-number/>
                        </div>

                    </div>

                    <!--<div class="form-group">

                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" style="width:20px; height:20px;" ng-model="vm.invoiceData.is_returned" value="">
                                    <h5 style="margin-left: 8px">Is Returned?</h5>
                                </label>
                            </div>
                        </div>

                    </div>-->

                    <div class="form-group" ng-if="vm.invoiceData.is_returned">

                        <div class="col-sm-6">
                            <label>No. of Returned Carton</label>
                            <input type="text" class="form-control"
                                   placeholder="No. of returned cartoon"
                                   ng-model="vm.invoiceData.no_of_returned_carton" maxlength="10" minlength="1" valid-number required>
                        </div>

                        <div class="col-sm-6">
                            <label>Select Company</label>
                            <select class="form-control"
                                    ng-model="vm.invoiceData.returned_cartoon_company"
                                    ng-init="selectedOption = options[0]"
                                    required
                                    ng-disabled="subCatSelect"
                                    ng-options="option.company_name for option in vm.companiesList">
                                <option value="" selected="selected">Select Company</option>
                            </select>
                            <!--ng-model="selectedOption._id"-->
                        </div>

                        <div class="col-sm-12 other_order-field-margin">
                            <label>Reason Of Return</label>
                            <textarea rows="5" class="form-control resize-textarea"
                                      ng-model="vm.invoiceData.reason_of_return"
                                      placeholder="Reason of return" ng-required="true"></textarea>
                        </div>

                    </div>

                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
