<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Invoices Listing" ba-panel-class="with-scroll">
                <div class="horizontal-scroll" infinite-scroll='ctg.loadMoreData()' infinite-scroll-distance='2'
                    infinite-scroll-disabled='ctg.busy'>
                    <div class="add-row-editable-table">
                        <label>search by bilti no</label>
                        <input style="width: 130px;" type="text" ng-model="ctg.searchTermBilti" ng-model-options='{ debounce: 500 }'
                               placeholder="search by bilti no" ng-change="ctg.searchInvoices('bilti');">
                        <label>search by distributor</label>
                        <input style="width: 150px;" type="text" ng-model="ctg.searchTermDistributor" ng-model-options='{ debounce: 500 }'
                               placeholder="search by distributor name" ng-change="ctg.searchInvoices('distributor');">
                        <label>search by DCN</label>
                        <input style="width: 130px;" type="text" ng-model="ctg.searchTermDCN" ng-model-options='{ debounce: 500 }'
                               placeholder="search by dcn no" ng-change="ctg.searchInvoices('dcn');">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                ng-click="ctg.addInvoice()"
                                style="margin-right:15px; margin-bottom: 10px;">+ Add Invoice
                        </button>
                    </div>
                    <table class="table table-bordered table-hover" st-table="invoicesCopy" st-safe-src="ctg.invoices" class="table table-striped">
                        <thead>
                        <tr class="black-muted-bg">
                            <!--<th class="table-id">#</th>-->
                            <th>Bilti No.</th>
                            <th>Driver</th>
                            <th>Vehicle</th>
                            <th>Destination</th>
                            <th>Distributor</th>
                            <th>Date</th>
                            <th>DCN (quantity)</th>
                            <th>Is Delivered</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody ng-if="ctg.invoices.length>0">
                        <tr ng-repeat="item in invoicesCopy track by $index">
                            <!--<td class="table-id">{{$index + 1}}</td>-->
                            <td>{{item.bilti_no}}</td>
                            <td ng-if="!item.is_shahzore">{{item.driver.name || item.fixed_driver_name}}</td>
                            <td ng-if="item.is_shahzore">{{item.shahzore_driver_name}}</td>
                            <td ng-if="!item.is_shahzore">{{item.vehicle.number || item.fixed_vehicle_no}}</td>
                            <td ng-if="item.is_shahzore">Shahzore For RWP/ISD</td>
                            <td>{{item.destination.destination_name}}</td>
                            <td>{{item.distribution.distribution_name}}</td>
                            <td>{{item.bilti_date || item.date | date : "dd/MM/yyyy"}}</td>
                            <td ng-bind-html="item.dcnStr"></td>
                            <td>{{item.is_delivered}}</td>
                            <td>

                                <button class="btn btn-primary editable-table-button btn-xs"
                                        ng-click="ctg.editInvoice(item, $index)">
                                    Edit
                                </button>
                                <button class="btn btn-danger editable-table-button btn-xs"
                                        ng-click="ctg.archiveInvoice(item, $index)">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <!--<tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="7" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>-->
                    </table>
                    <!-- <table datatable dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns" class="table table-hover"> -->
                    <!--<table datatable dt-options="dtOptions" dt-instance="dtInstance"  dt-columns="dtColumns"
                       class="row-border hover"></table>-->
                    <div ng-if="ctg.invoices.length === 0">
                        <p> No Invoice added yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
