<div class="row">

    <div class="modal-content">
        <form class="form-horizontal" name="vm.AddProdCtrlForm"
              ng-submit="vm.addEditKpo();">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
                    <em class="ion-ios-close-empty sn-link-close"></em>
                </button>
                <h4 class="modal-title">{{vm.title}}

            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>User Name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="User Name"
                               ng-model="vm.kpoData.name" maxlength="30" minlength="3" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>User Email</label>
                        <input type="email" class="form-control"
                               placeholder="User Email" autocomplete="off"
                               ng-model="vm.kpoData.email" required>
                    </div>
                </div>

                <div class="form-group" ng-if="vm.isNew">
                    <div class="col-sm-12">
                        <label>User Password</label>
                        <input type="password" class="form-control"
                               placeholder="User Password" autocomplete="off"
                               ng-model="vm.kpoData.password" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>User Mobile No.</label>
                        <input type="text" class="form-control" id="mobileNo" name="mobileNo"
                               placeholder="User Mobile No."
                               ng-model="vm.kpoData.mobileNo" valid-number required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>User Type</label>
                        <select class="form-control"
                                ng-model="vm.kpoData.userType" required
                                ng-options="option for option in vm.userTypeList track by option">
                            <option value="" selected="selected">Select User Type</option>
                        </select>
                        <!--ng-model="selectedOption._id"-->
                    </div>
                </div>

            </div>
            <hr>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>

</div>
